html, body{
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}

#page-frame {
    width:100%;
    height:100%;
    margin:0;
    position:absolute;
}

#inlinecms-panel {
	width:300px;
	position:fixed;
	z-index:99;
	font-family: 'Verdana', sans-serif;
	font-size:16px;
	box-shadow: 0 0 10px #000;
	background:#FFF;
    display:none;
	border-radius: 4px;
}

#inlinecms-panel > .title{
	height:30px;
	line-height:30px;
	margin:0;
    overflow: hidden;
    padding:0 10px;
	padding-right: 3px;
    font-size:12px;
    cursor: move;
	text-shadow: 0 1px 0 #000;
	background: #34495e;
	background: -moz-linear-gradient(top,  #34495e 0%, #2c3e50 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#34495e), color-stop(100%,#2c3e50));
	background: -webkit-linear-gradient(top,  #34495e 0%,#2c3e50 100%);
	background: -o-linear-gradient(top,  #34495e 0%,#2c3e50 100%);
	background: -ms-linear-gradient(top,  #34495e 0%,#2c3e50 100%);
	background: linear-gradient(to bottom,  #34495e 0%,#2c3e50 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34495e', endColorstr='#2c3e50',GradientType=0 );
	border-radius: 2px 2px 0 0;
	border-bottom: solid 1px #34495e;
    box-shadow: inset 0 1px 2px #4d6b89;
}

#inlinecms-panel > .title > h3 {
	color:#FFF;
    float:left;
    font-size:14px;
    height: 30px;
    line-height: 30px;
    margin:0;
    font-weight: normal;
}

#inlinecms-panel > .title > .lang {
    float:right;
	margin-right: 5px;
}

#inlinecms-panel > .title > .lang select {
	border:solid 1px #2c3e50;
    border-radius: 0;
	background:#cde1f4;
    width: 50px;
    padding: 2px;
    margin-top:4px;
    box-shadow:none;
    height: 22px;
}
#inlinecms-panel > .title > .lang select:focus {
    box-shadow:none;
}

#inlinecms-panel > .title > .lang select.all-langs {
	background:#99f799;
}

#inlinecms-panel > .title > .toolbuttons{
	overflow: hidden;
}

#inlinecms-panel > .title > .toolbuttons a {
	color:#bdc3c7;
	height:30px;
	line-height:30px;
	display: block;
	float:left;
	width:20px;
	text-align: center;
	font-size:14px;
}

#inlinecms-panel > .title > .toolbuttons a:hover {
	color:#fff;
}

#inlinecms-panel > .title > .toolbuttons {
    float:right;
}

#inlinecms-panel #tabs .tab {
	display:none;
}

#inlinecms-panel #tabs > ul,
#inlinecms-panel #tabs > ul > li {
	list-style:none;
	padding:0; margin:0;
	overflow: hidden;
}

#inlinecms-panel #tabs > ul {
	background: #1abc9c;
	background: -moz-linear-gradient(top,  #1abc9c 0%, #16a085 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1abc9c), color-stop(100%,#16a085));
	background: -webkit-linear-gradient(top,  #1abc9c 0%,#16a085 100%);
	background: -o-linear-gradient(top,  #1abc9c 0%,#16a085 100%);
	background: -ms-linear-gradient(top,  #1abc9c 0%,#16a085 100%);
	background: linear-gradient(to bottom,  #1abc9c 0%,#16a085 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1abc9c', endColorstr='#16a085',GradientType=0 );
	text-shadow: 0 1px 1px #0c5b4c;
}

#inlinecms-panel #tabs > ul > li {
	float: left;
}
#inlinecms-panel #tabs > ul > li a {
	color:#FFF;
	text-decoration: none;
	display:block;
	width:90px;
	height:30px;
	line-height:30px;
	text-align: center;
	font-size:13px;
}

#inlinecms-panel #tabs > ul > li a.small {
    width:30px;
}

#inlinecms-panel #tabs > ul > li:hover{
	background: #27ae60;
}

#inlinecms-panel #tabs > ul > li.active{
	background: #27ae60;
	background: -moz-linear-gradient(top,  #27ae60 0%, #2ecc71 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#27ae60), color-stop(100%,#2ecc71));
	background: -webkit-linear-gradient(top,  #27ae60 0%,#2ecc71 100%);
	background: -o-linear-gradient(top,  #27ae60 0%,#2ecc71 100%);
	background: -ms-linear-gradient(top,  #27ae60 0%,#2ecc71 100%);
	background: linear-gradient(to bottom,  #27ae60 0%,#2ecc71 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27ae60', endColorstr='#2ecc71',GradientType=0 );
}

#inlinecms-panel #save-buttons{
	text-align: center;
	background:#ecf0f1;
	border-top:solid 1px #bdc3c7;
}

@keyframes glow {
    0% {
        opacity:1;
    }
    50% {
        opacity:0.25;
    }
    100% {
        opacity:1;
    }
}

#inlinecms-panel #save-buttons button {
    outline:none;
	box-shadow:inset 0px 1px 0px 0px #43e6c5;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1abc9c), color-stop(1, #16a084));
	background:-moz-linear-gradient(top, #1abc9c 5%, #16a084 100%);
	background:-webkit-linear-gradient(top, #1abc9c 5%, #16a084 100%);
	background:-o-linear-gradient(top, #1abc9c 5%, #16a084 100%);
	background:-ms-linear-gradient(top, #1abc9c 5%, #16a084 100%);
	background:linear-gradient(to bottom, #1abc9c 5%, #16a084 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1abc9c', endColorstr='#16a084',GradientType=0);
	background-color:#1abc9c;
	border-radius:4px;
	border:1px solid #1c856e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:14px;
	padding:8px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #106653;
    margin:10px 0;
}

#inlinecms-panel #save-buttons button.glow i {
    animation-name: glow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#inlinecms-panel #save-buttons button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #16a084), color-stop(1, #1abc9c));
	background:-moz-linear-gradient(top, #16a084 5%, #1abc9c 100%);
	background:-webkit-linear-gradient(top, #16a084 5%, #1abc9c 100%);
	background:-o-linear-gradient(top, #16a084 5%, #1abc9c 100%);
	background:-ms-linear-gradient(top, #16a084 5%, #1abc9c 100%);
	background:linear-gradient(to bottom, #16a084 5%, #1abc9c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#16a084', endColorstr='#1abc9c',GradientType=0);
	background-color:#16a084;
}

#inlinecms-panel #save-buttons button:active {
	position:relative;
	top:1px;
}

#inlinecms-panel .buttons {
	padding:10px;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #fafafa 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fafafa));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#fafafa 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#fafafa 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#fafafa 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#fafafa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcfcfc',GradientType=0 );
	overflow: hidden;
	border-bottom:solid 1px #bdc3c7;
}

#inlinecms-panel .buttons button,
.inlinecms form .button {
    outline:none;
	display:block;
	float:left;
	margin-right: 2px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #bdc3c7;
	display:inline-block;
	cursor:pointer;
	color:#34495e;
	font-family:sans-serif;
	font-size:14px;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#inlinecms-panel .buttons button:hover,
.inlinecms form .button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}

.inlinecms form .button:active {
	position:relative;
	top:1px;
}

#inlinecms-panel #save-buttons button.green,
#inlinecms-panel #save-buttons button.glow,
#inlinecms-panel .buttons button.green {
    -moz-box-shadow:inset 0px 1px 0px 0px #7ff0ae;
	-webkit-box-shadow:inset 0px 1px 0px 0px #7ff0ae;
	box-shadow:inset 0px 1px 0px 0px #7ff0ae;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #27ae5f));
	background:-moz-linear-gradient(top, #44c767 5%, #27ae5f 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #27ae5f 100%);
	background:-o-linear-gradient(top, #44c767 5%, #27ae5f 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #27ae5f 100%);
	background:linear-gradient(to bottom, #44c767 5%, #27ae5f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#27ae5f',GradientType=0);
	background-color:#44c767;
	border:1px solid #249653;
	color:#ffffff;
	text-shadow:0px 1px 0px #0f5c2f;
}

#inlinecms-panel #save-buttons button.green:hover,
#inlinecms-panel .buttons button.green:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #27ae5f), color-stop(1, #44c767));
	background:-moz-linear-gradient(top, #27ae5f 5%, #44c767 100%);
	background:-webkit-linear-gradient(top, #27ae5f 5%, #44c767 100%);
	background:-o-linear-gradient(top, #27ae5f 5%, #44c767 100%);
	background:-ms-linear-gradient(top, #27ae5f 5%, #44c767 100%);
	background:linear-gradient(to bottom, #27ae5f 5%, #44c767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#27ae5f', endColorstr='#44c767',GradientType=0);
	background-color:#27ae5f;
}

#inlinecms-panel .buttons button.red {
	-moz-box-shadow:inset 0px 1px 0px 0px #f59b93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f59b93;
	box-shadow:inset 0px 1px 0px 0px #f59b93;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e74d3c), color-stop(1, #c03a2b));
	background:-moz-linear-gradient(top, #e74d3c 5%, #c03a2b 100%);
	background:-webkit-linear-gradient(top, #e74d3c 5%, #c03a2b 100%);
	background:-o-linear-gradient(top, #e74d3c 5%, #c03a2b 100%);
	background:-ms-linear-gradient(top, #e74d3c 5%, #c03a2b 100%);
	background:linear-gradient(to bottom, #e74d3c 5%, #c03a2b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e74d3c', endColorstr='#c03a2b',GradientType=0);
	background-color:#e74d3c;
    border:1px solid #85261d;
	color:#ffffff;
	text-shadow:0px 1px 0px #4d1611;
}

#inlinecms-panel .buttons button.red:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c03a2b), color-stop(1, #e74d3c));
	background:-moz-linear-gradient(top, #c03a2b 5%, #e74d3c 100%);
	background:-webkit-linear-gradient(top, #c03a2b 5%, #e74d3c 100%);
	background:-o-linear-gradient(top, #c03a2b 5%, #e74d3c 100%);
	background:-ms-linear-gradient(top, #c03a2b 5%, #e74d3c 100%);
	background:linear-gradient(to bottom, #c03a2b 5%, #e74d3c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c03a2b', endColorstr='#e74d3c',GradientType=0);
	background-color:#c03a2b;
}

#inlinecms-panel .buttons button:active {
	position:relative;
	top:1px;
}

#inlinecms-panel .buttons button:disabled,
#inlinecms-panel .buttons button:disabled:hover {
	background:none;
	color:#cfcfcf;
	border-color:#e5e5e5;
    box-shadow: none;
    text-shadow:none;
	cursor: default;
}
#inlinecms-panel .buttons button:disabled:active {
	top:0;
}

#inlinecms-panel .buttons .delimiter {
	margin:0 5px;
	display: block;
	float:left;
	height:1px;
}

#inlinecms-panel .pane {
	height:300px;
	overflow-y: auto;
	color:#395167;
	padding:2px;
    border-radius:2px;
}

#inlinecms-panel #tab-elements .list{
	padding:10px;
}

#inlinecms-panel #tab-elements .list ul {
	overflow: hidden;
    list-style:none;
	padding:0;
    margin:0;
}

#inlinecms-panel #tab-elements .list ul li {
	width:50px;
    height: 50px;
    line-height: 50px;
	font-size:12px;
	text-align: center;
	float:left;
	margin:3px;
	margin-left: 0;
    margin-top: 0;
	cursor: pointer;
	background: #FFF;
	border:solid 1px #27ae60;
	border-radius: 2px;
    color:#27ae60;
	list-style: none;
}

#inlinecms-panel #tab-elements .list ul li:hover {
/*	border:solid 1px #34495e;
    color:#34495e;*/
    background:#27ae60;
    color:#FFF;
}

#inlinecms-panel #tab-elements .list ul li i {
	font-size:30px;
	display:block;
    height: 50px;
    line-height: 50px;
}

#inlinecms-panel #tab-elements .list ul li .icon {
	margin-bottom: 10px;
}

#inlinecms-panel #tab-menus #inlinecms-menu-tree li .handle {
    display:inline-block;
    height:25px;
    line-height:25px;
    width: 25px;
    text-align:center;
    color:#444;
    margin-right: 5px;
    background: #ECECEC;
}

#inlinecms-panel #tab-settings{
    position:relative;
}

#inlinecms-panel #tab-settings ul,
#inlinecms-panel #tab-settings ul li {
    margin:0; padding:0; list-style:none;
}

#inlinecms-panel #tab-settings .links {
    padding:15px;
}

#inlinecms-panel #tab-settings .links li {
    height:28px;
    line-height:28px;
    color:#34495e;
}

#inlinecms-panel #tab-settings .links a {
    color:#2980b9;
    font-size:16px;
}

#inlinecms-panel #tab-settings .links a:hover {
    color: #16a085;
    text-decoration: none;
}

#inlinecms-panel #core-version {
    position: absolute;
    right:0;
    bottom:0;
    padding:8px;
    color: #7f8c8d;
    font-size:10px;
}

.inlinecms table.layouts-list {
    width:100%;
}

.inlinecms table.layouts-list tr td {
    padding:5px 0;
    font-size:14px;
}

.inlinecms table.layouts-list tr td:last-child {
    text-align: right;
    font-size:15px;
}

.inlinecms table.layouts-list label {
    color:#34495e;
}

.inlinecms table.layouts-list a {
    color:#3498db;
}

.inlinecms table.layouts-list a:hover {
    color:#16a085;
}

.inlinecms form fieldset {
	margin-bottom: 15px;
    padding: 0;
    border: none;
}

.inlinecms-options-form fieldset:last-child {
	margin-bottom: 0;
}

.inlinecms form fieldset legend {
	margin:15px 0;
	font-weight: bold;
}

.inlinecms form fieldset .field {
	margin-bottom: 10px;
}

.inlinecms form fieldset .field:last-child {
	margin:0;
}

.inlinecms form fieldset .field-hidden {
    display:none;
}

.inlinecms form fieldset .field label {
	display: block;
	margin-bottom: 3px;
}

.inlinecms .checkbox-label input[type=checkbox]{
    position: relative;
    vertical-align: middle;
    bottom: 1px;
}

.inlinecms input[type=text],
.inlinecms input[type=password],
.inlinecms select,
.inlinecms textarea {
    padding: 4px;
    border: solid 1px #bdc3c7;
    box-shadow: inset 0 1px 2px #DDD;
    border-radius: 4px;
	width:100%;
	transition: all 0.6s;
	box-sizing: border-box;
    background-color: #FFF;
    height: 28px;
    color:#474e4f;
}

.inlinecms input[type=text]:focus,
.inlinecms input[type=password]:focus,
.inlinecms select:focus,
.inlinecms textarea:focus {
	border: solid 1px #3498db;
	box-shadow:
		inset 0 1px 2px #DDD,
		0 0 5px #3498db;
}

.inlinecms input[type=text]:disabled,
.inlinecms input[type=password]:disabled,
.inlinecms select:disabled,
.inlinecms textarea:disabled {
    background:#ecf0f1;
}

.inlinecms-options-form textarea {
	height:80px;
}

.inlinecms-options-form .field .fields-small{
    margin-top: 10px;
}

.inlinecms-options-form .field .fields-small label {
    display: inline-block;
    margin-right: 5px;
    width: 180px;
    text-align: right;
    color:#666;
}

.inlinecms-options-form .field .fields-small label:last-child {
    margin:0;
}

.inlinecms-options-form .field .fields-small input {
    width:80px;
    margin-left:10px;
}

.inlinecms-options-form .field .fields-small input.b-width {
    border-left: solid 2px #34495e;
    border-right: solid 2px #34495e;
}
.inlinecms-options-form .field .fields-small input.b-height {
    border-top: solid 2px #34495e;
    border-bottom: solid 2px #34495e;
}

.inlinecms-options-form .field .fields-small input.b-top {
    border-top: solid 2px #34495e;
}
.inlinecms-options-form .field .fields-small input.b-bottom {
    border-bottom: solid 2px #34495e;
}
.inlinecms-options-form .field .fields-small input.b-left {
    border-left: solid 2px #34495e;
}
.inlinecms-options-form .field .fields-small input.b-right {
    border-right: solid 2px #34495e;
}

.inlinecms-options-form .file-button{
    position: relative;
    overflow:hidden;
    display:inline-block;
    float:none;
}

.inlinecms-options-form .file-button.disabled {
    background:#FFF;
    border-color:#bdc3c7;
    color:#7f8c8d;
    text-shadow: none;
}

.inlinecms-options-form .file-button input {
    position: absolute;
    right:0;
    top:0;
    font-size:200px;
    cursor:pointer;
}

.inlinecms-options-form .field a {
    color: #2b87c3;
    text-decoration: none;
    border-bottom: dashed 1px #3f9edd;
}

.inlinecms-options-form .field a:hover {
    color:#27ae60;
    border-bottom: dashed 1px #27ae60;
}

.inlinecms form .field-browse .input,
.inlinecms form .field-upload-browse .input {
    overflow: hidden;
}

.inlinecms form .field-browse input[type=text],
.inlinecms form .field-upload-browse input[type=text] {
    float:left;
    width:370px;
}

.inlinecms form .field-upload-browse input[type=text] {
    width:330px;
    margin-right: 5px;
}

.inlinecms form .field-browse .button,
.inlinecms form .field-upload-browse .button {
    height:28px;
    margin-left:2px;
}

#inlinecms-form-page-add .f-uri .hint,
#inlinecms-form-page-edit .f-uri .hint{
    padding: 4px 5px;
    font-size: 10px;
    margin: 0 auto;
    border-radius: 0 0 4px 4px;
    margin-top: 0px;
    color: #555;
    overflow: hidden;
	width:98%;
}

#inlinecms-form-page-add .f-uri .hint .uri,
#inlinecms-form-page-edit .f-uri .hint .uri{
	color:#0e6b58;
}

#inlinecms-form-menu-item-add .f-page .input,
#inlinecms-form-menu-item-edit .f-page .input{
    height:28px;
    line-height:28px;
    padding:0 10px;
}

#inlinecms-form-menu-item-add .f-page .input button,
#inlinecms-form-menu-item-edit .f-page .input button{
    padding: 2px 8px;
    margin-left: 10px;
}

#inlinecms-menu-item-pages-tree {
    height: 250px;
    padding:5px;
    margin:-15px;
}

.inlinecms.message-text {
    line-height:18px;
}

.inlinecms.message-text strong {
    font-weight:bold;
    color:#34495e;
}

.inlinecms .messages-list {
    margin: 0;
    padding: 0;
    margin-left: 15px;
}

.inlinecms .messages-list li {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

.inlinecms .messages-list li:last-child {
    margin-bottom: 0;
}

.inlinecms.message-prompt .prompt{
    margin-bottom: 5px;
}

.inlinecms .field .hint{
    font-size: 11px;
    color: #95a5a6;
    margin-top: 4px;
    margin-left: 2px;
}
.inlinecms-widget-image .inlinecms-content > i {
    font-size:64px;
    text-align:center;
    display:block;
    margin:10px;
    color:#27ae60;
}

.inlinecms-widget-image img {
    max-width: 100%;
}

.inlinecms-loading-indicator{
    position:absolute;
    left:50%;
    top:50%;
    margin-left: -50px;
    margin-top:-50px;
    width:100px;
    height:100px;
    line-height:100px;
    background:rgba(44, 62, 80,.85);
    color:#FFF;
    font-size:60px;
    text-align: center;
    border-radius: 15px;
    display:none;
}

.inlinecms { font-size: 14px; }